  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*body*/

body {
    font-size: 16;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #101010;
}

body h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/*header*/

div#headerWrapper {
    max-width: 64rem;
    margin:auto;
} 

header {
    /*the linear-gradient, below, adds an overlay to the background image so I can use
    colored text and keep color contrast acceptable. */
    /* background-image:
    linear-gradient(rgba(232,232,232,0.6), rgba(232,232,232,0.6)),
    url("../images/image01.jpg"); */
    /* background-repeat: no-repeat;
    padding: 1rem;
    background-size: cover;
    height: 300px;  */
}

header h1 {
        padding: 0 .5rem;
    }

header h2 {
    font-weight: 400;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

    /* main */

    div#mainWrapper {
        max-width: 64rem;
        margin:auto;
        margin-bottom: 2rem;
    }

    div#displaySpellsList {
        display: flex;
        flex-wrap: wrap;
    }

    .spellListItem {
        margin: 1rem;
        border: 2px solid #a8a8a8;
        background-color: #E6E6E6;
        /* color: #fff; */
        width: 15rem;
        text-align: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    div#cardDeck {
        display: flex;
        flex-wrap: wrap;
    }

    div.card {
        flex-basis: 30%;
        padding: 1rem;
        border: 1px solid #f5f5f5;
        box-shadow: 5px 11px 12px #999;
        margin: 1rem;
        
    }
    div#footerWrapper {
        max-width: 64rem;
        margin:auto;
    }

    footer {
        background-color: #E6010A;
        text-align: center;
        padding-top: .25rem;
        padding-bottom: .25rem;
        position:fixed;
        left:0px;
        bottom:0px;
        height:30px;
        width:100%;
        color: #fff;
    }

