  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*body*/
body {
    font-size: 16;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #101010;
}

body h1 {
    font-size: 3rem;
    font-weight: 700;
}
/*header*/

div#headerWrapper {
    max-width: 64rem;
    margin:auto;
} 

header {
    /*the linear-gradient, below, adds an overlay to the background image so I can use
    colored text and keep color contrast acceptable. */
    background-image:
    linear-gradient(rgba(232,232,232,0.6), rgba(232,232,232,0.2)),
    url("../images/image01.jpg");
    background-repeat: no-repeat;
    padding: 1rem;
    background-size: cover;
    height: 450px; 
}

header h1 {
        padding: 0 .5rem;
    }

header h2 {
    font-weight: 400;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

    /* main */

    div#mainWrapper {
        max-width: 64rem;
        margin:auto;
    }

main h1 {
    font-size: 2rem;
    padding: 0 1rem;
}

main h2{
    padding: 0 1rem;
}
main h3{
    padding: 0 1rem;
}

main p {
    padding: 0 1rem;
    
}


ul#linksContainer {
    background-color: #6A748F;
    list-style-type: none;
    margin: 0 1rem 1rem 1rem;
    padding: 0;
}

ul#linksContainer li {
    float: left;
    width: 33%;
}

ul#linksContainer li a{
    display: block;
    border-left: .5rem solid #fff;
    padding: .5rem 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

ul#linksContainer li:first-child a {
    border-left: none;
}

div #hotelDisplay {
    background-color: #D6C7BC;
    padding: 1rem;
}

div#hotelName {
    font-size: 1.5rem;
    padding: .5rem 0;
}

    div#footerWrapper {
        max-width: 64rem;
        margin:auto;
    }

    footer {
        background-color:#D6C7BC;
        
        text-align: center;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }